@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

.yellow {
    color: #e4bb68;
  }
  
  .red {
    color: #e06c75;
  }
  
  .blue {
    color: #61afef;
  }
  
  .white {
    color: white;
  }

.animationbody {
  margin: 0;
  padding: 0;
  background: hwb(220 16% 80%);
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
    25% {
      transform: translatey(-3vmin);
      opacity: 1;
    }
    50% {
      transform: translatey(-14.2vmin);
    }
    75% {
      transform: translatey(10vmin);
    }
  }