.about {
  background-image: url("../images/aboutbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding: 0;
  width: 100%;
}



.container img {
  margin-top: 100px;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-bottom: 30px;
  padding-left: 30px;
}

.about h2 {
  font-size: 3rem;
}



.about h1,
.about h2,
.about h3,
.about p {
  color: black;
}





.about .icons img {
  height: 40px;
  margin: 0.5rem; /* Add margin to create space between icons */
}




@media screen and (max-width: 500px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about .container {
    width: 100%;
  }

  .about .container img {
    padding: 1rem;
    width: 90vw;
    padding-left: 25px
  }

  .about .container .col-2 {
    padding: 0;
  }

  .about button {
    margin-bottom: 1rem;
  }
}
