/* Projects.module.css */

.projects {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.projectbutton {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  background-color: 	#FFDB58;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projectbutton a {
  color:black;
  font-weight: 800;
  text-decoration: none;
}

.projectbutton:hover {
  transform: translateX(-50%) translateY(-5px);
}
