.container {
  background-image: url('../images/background.jpg'); /* Replace with your background image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between grid items */
  
}

.gridItem {
  padding: 20px;
  background-color: #292525;
  border-radius: 15px;
  border: solid 2px rgb(228, 222, 222);
  text-align: center;
  text-decoration: none;
  color: #f1e8e8;
}

.gridItem:hover {
  background-color: #a8531b;
}


.icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}



.buttonContainer {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projectbutton {
  padding: 10px 20px;
  background-color: #ecb90e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  animation: pulse 2s infinite;
}

.projectbutton a {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(220, 235, 9, 0.4);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(46, 204, 113, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(46, 204, 113, 0);
  }
}
